$green: #7DC9A4;
$pink: #ff0090;
$ltgrey: #eee;

$display-font-stack: "Century Gothic", Verdana, Geneva, sans-serif;
$text-font-stack: Montserrat, Verdana, Geneva, sans-serif;
$mono-font-stack: "Courier New", Courier, monospace;