.site-header {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
	padding: 0 30px;
}

/* Title Area
--------------------------------------------- */

.title-area {
	padding-bottom: 25px;
	padding-top: 25px;
        float:left;
}

.wp-custom-logo .title-area {
	max-width: 350px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;
}

.wp-custom-logo .title-area img {
	width: auto;
}

.site-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 0;
        font-family:$display-font-stack;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: #333;
	text-decoration: none;
}

.wp-custom-logo .site-title {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.site-description {
    font-family:$text-font-stack;
    margin-bottom:0px;
    transition: ease 0.2s all;
}

@media only screen and (min-width: 960px) {
    /* Site Header
	--------------------------------------------- */

	.site-header {
		position: fixed;
		width: 100%;
		z-index: 9999;
	}
        
        .title-area {
            padding-bottom:10px;
            max-width:800px;
            margin:0px auto;
            text-align:center;
            float:none;
    }
        .site-title {
            font-size:48px;
            transition: ease 0.3s all;
            margin-bottom:20px;
        }
        .site-description {
            font-size:30px;
        }
        .shrink {
            .title-area {
                padding-top:15px;
                padding-bottom:0px;
            }
            .site-title {
                font-size:30px;
                margin-bottom:0px;
            }
            .site-description {
                opacity:0;
                height:0px;
                font-size:16px;
            }
        }
}