
/*------------------------------------------------------------------------------
# Entry Content
------------------------------------------------------------------------------*/
@import "entry-content";

/*------------------------------------------------------------------------------
# Entry Meta
------------------------------------------------------------------------------*/
@import "entry-meta";

/*------------------------------------------------------------------------------
# Pagination
------------------------------------------------------------------------------*/
@import "pagination";

/*------------------------------------------------------------------------------
# Comments
------------------------------------------------------------------------------*/
@import "comments";

@media only screen and (min-width: 960px) {
    
	/* Content
	--------------------------------------------- */

	.content {
		float: left;
		width: 65%;
	}

	.full-width-content .content,
	.landing-page .content {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
        
        .after-entry {
		padding: 40px 60px;
	}
        
        /* Entry Misc.
	--------------------------------------------- */

	.after-entry,
	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-pings {
		margin-bottom: 60px;
	}

}