
.nav-primary {
	clear: left;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 100%;
}

@media only screen and (min-width: 960px) {
    	
	/* Header Menu
	--------------------------------------------- */

	.nav-primary {
		clear: none;
		max-width:1200px;
                margin:0px auto;
	}
        
        #menu-main {
            display:flex;
            justify-content: center;
        }

	.nav-primary .genesis-nav-menu a {
		padding-left: 15px;
		padding-right: 15px;
	}
}